[Unit]
Description=tvplayer
After=network.target graphical.target

[Service]
WorkingDirectory=/home/bort/
User=bort
ExecStart=/home/bort/simpsonstv/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
