[Unit]
Description=tvtouch
After=network.target

[Service]
WorkingDirectory=/home/bort/
User=bort
ExecStart=/usr/bin/python3 /home/bort/simpsonstv/touch.py
Restart=always

[Install]
WantedBy=multi-user.target
